.photo-grid {
  margin: 0 auto;
  padding: 92px 30px 94px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  box-sizing: border-box;
  /* background-color: pink; */
}

@media (max-width: 1024px) {
  .photo-grid {
    padding: 93px 49px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid {
    padding: 88px 24px 90px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    padding: 64px 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
}
