.lead__subtitle {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 64px;
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media (max-width: 768px) {
  .lead__subtitle {
    font-size: 3.9vw;
    line-height: calc(3.9vw + 6px);
    max-width: 80vw;
    padding-bottom: 56px;
  }
}


@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 40px;
    max-width: 82vw;
  }
}
